* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.page-container {
  background-color: rgb(130, 152, 156);
  padding: 2rem;
  margin: 0;
  min-height: 100vh;
  color: black;
  font-family: monospace;
  position: relative;
}

.input,
.button {
  font-size: medium;
}

.repo-details-container {
  background-color: rgb(252, 252, 252);
  position: absolute;
  padding: 1rem;
  right: 3rem;
  top: 2rem;
}
.repo-details-container h3 {
  margin-top: 0;
}
