* {
  font-family: "Verdana", monospace;
}
.display {
  font-size: 3rem;
  margin: 0.4rem 0.2rem;
  color: white;
  text-align: right;
  width: 17.2rem;
}

button {
  font-size: 1.4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: 0;
  margin: 0.2rem;
}

button.light {
  background-color: grey;
  color: black;
}
button.digit {
  background-color: rgb(51, 51, 51);
  color: white;
}
button.operator {
  background-color: orange;
  color: white;
}

button.wide {
  width: 8.8rem;
  border-radius: 4rem;
  text-align: left;
  padding-left: 1.5rem;
}

.button-row {
  padding: 0.2rem;
}
