.bg-green-dark {
  background-color: #101a0f;
}
.bg-accent-bright {
  background-color: goldenrod;
}
.text-white {
  color: whitesmoke;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.m-8 {
  margin: 8px;
}
.p-18 {
  padding: 18px;
}

.logo-text {
  padding: 8px 1vw;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "IM Fell English SC", "Times New Roman", Times, serif;
  text-shadow: 0 2px 5px #1a264b;
}
.nav a,
.nav button {
  padding: 8px 1.2vw;
  color: white;
  text-decoration: none;
  font-family: "Sedan", "Times New Roman", Times, serif;
  font-size: 1.5vw;
}
.nav a {
  text-shadow: 0 2px 5px #1a264b;
}
.nav button {
  border: 0;
  border-radius: 5px;
  margin-left: 16px;
}

.hero img {
  top: -100px;
}

.w-full {
  width: 100%;
}
.object-cover {
  object-fit: cover;
}

.relative {
  position: relative;
}

.z-2 {
  z-index: 2;
}
