.bg-green-dark {
  background-color: #101a0f;
}
.text-white {
  color: whitesmoke;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.m-8 {
  margin: 8px;
}
.p-18 {
  padding: 18px;
}

.nav a {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-family: "Sedan", "Times New Roman", Times, serif;
  font-size: large;
}
