/* ========== FONTS + COLORS ==========*/
$background: #1b2c18;
$logo-font: 84px "VT323", Courier;
$h-font: 32px bold "Ubuntu", Verdana;
$dark-accent: #cfa721;
$light-accent: #a9b2b9;
$ulight-accent: whitesmoke;
$p-font: 18px "Source Sans 3", Tahoma;
$p-color: #888;
$line-height: 44px;

/*
  ============ GRID =================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding: 0 30px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding: 0 15px;
}
.float-left {
  float: left;
}
%row {
  min-width: 960px;
}
.row {
  @extend %row;
  background: $ulight-accent;
  padding: 66px 0 44px 0;
}
.row-alt {
  @extend %row;
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 20px;
}

.btn {
  border-radius: 5%;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  color: $ulight-accent;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: $background;
  padding: 11px 30px;
  font-size: 14px;
  &:hover {
    background: $dark-accent;
  }
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  &:hover {
    background: $ulight-accent;
    color: $dark-accent;
  }
}

/*
  ============ CLEARFIX =================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
}
.clear {
  clear: left;
}
/*
  ============ HOME =================
*/
.hero {
  color: $ulight-accent;
  line-height: $line-height;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.lead {
  text-align: center;
  p {
    font-size: 21px;
    line-height: 33px;
  }
}
body {
  background: $background;
  color: $p-color;
  font: $p-font;
}
h1,
h2,
h3,
h4 {
  color: $dark-accent;
  font: $h-font;
}
h1 {
  font-size: 36px;
  line-height: $line-height;
}
h2 {
  font-size: 36px;
  line-height: $line-height;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: $light-accent;
  font-size: 14px;
  font-weight: 400;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
/* ========== LINKS ============= */
a {
  text-decoration: none;
  color: $light-accent;
  &:hover {
    color: $dark-accent;
  }
}
/* ============ NAVBAR ============ */
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav {
  text-align: right;
  li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    &:last-child {
      margin-right: 0;
    }
  }
}
/*
  ============ PRIMARY HEADER/FOOTER =================
*/
.logo {
  font: $logo-font;
  float: left;
  border-top: 4px solid $dark-accent;
  line-height: $line-height;
  padding: 40px 0 22px 0;
  a {
    text-decoration: none;
  }
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-footer {
  color: $dark-accent;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  small {
    float: left;
    font-weight: 400;
  }
  .credit {
    float: left;
    padding: 0 0 0 50px;
  }
}
.primary-header a,
.primary-footer a {
  color: $ulight-accent;
  &:hover {
    color: $dark-accent;
  }
}
/* ======== TEASER COLS ==========*/
.teaser {
  h5 {
    text-transform: uppercase;
  }
  a:hover h3 {
    color: $light-accent;
  }
  img {
    border-radius: 5%;
    display: block;
    margin-bottom: 22px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
  }
}

/* ========= SPEAKERS ==========*/
.speaker {
  margin-bottom: 44px;
}
.speaker-info {
  border: 1px solid $light-accent;
  border-radius: 5%;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
.speaker-info img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
/* =========== Schedule =========== */
table {
  margin-bottom: 44px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}
thead {
  line-height: 44px;
  th {
    color: $background;
    font-size: 24px;
  }
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
tbody th {
  color: $background;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: $background;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: $light-accent;
}
/* =========== Venue ============== */
.venue-space {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}

/* ========= Register =============*/
.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
  border: 0;
}
fieldset {
  border: 0;
}
input,
select,
textarea {
  font: $p-font;
}
.register {
  label {
    color: #1b2c18;
    cursor: pointer;
    font-weight: 400;
  }
  input,
  select,
  textarea {
    border: 1px solid $dark-accent;
    border-radius: 5px;
    color: $light-accent;
    display: block;
    margin: 5px 0 25px 0;
    padding: 5px 8px;
  }
  input,
  textarea {
    width: 100%;
  }
  select {
    height: 34px;
    width: 60px;
  }
  textarea {
    height: 78px;
  }
}
