.App {
}
* {
  margin: 0;
  padding: 0;
  font-family: "Abel", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

Footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  height: 2rem;
}
h3,
.h3 {
  font-size: 3rem;
}
h5,
.h5 {
  font-size: 1.8rem;
}
nav {
  padding: 1rem 2rem;
  margin: 0 0 2rem 0;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
}
.logo {
  font-size: 2rem;
  color: rgb(49, 125, 197);
}
.entries,
.form--card {
  margin: 0 10%;
}

.form--card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
}
.form--dropzone {
  width: 40%;
  height: 300px;
  margin: 0 2rem 0 0;
  position: relative;
}
.form--fileUpload {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.form--img {
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  border: dotted 1px gray;
}
.form--data {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
@media screen and (max-width: 1080px) {
  .form--dropzone,
  .form--data {
    width: 100%;
  }
}
input,
input:focus {
  border: none;
  outline: none;
}
.entry {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  padding: 1rem 3rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
}
.entry--img {
  width: 40%;
  height: 300px;
  margin: 0 2rem 0 0;
  border-radius: 1rem;
  object-fit: cover;
}

.entry--pin {
  height: 20px;
  margin-right: 0.5rem;
}
.entry--data {
  padding: 2rem 0;
  width: 50%;
}
.entry--description {
  padding: 1rem 0;
}

@media screen and (max-width: 1080px) {
  .entry--img,
  .entry--data {
    width: 100%;
  }
}
footer {
  text-align: center;
  width: 100%;
}
footer a {
  color: black;
}
