/**************************\
  Basic Modal Styles
\**************************/
.micromodal {
  display: none;
}

.micromodal.is-open {
  display: block;
}

.micromodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
}

.micromodal__container {
  box-sizing: border-box;
  overflow-y: auto;
  max-width: 500px;
  max-height: 100vh;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
}

.micromodal[aria-hidden="false"] .micromodal__overlay {
  animation: microModalFadeIn 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal[aria-hidden="false"] .micromodal__container {
  animation: microModalSlideIn 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal .micromodal__container,
.micromodal .micromodal__overlay {
  will-change: transform;
}

@keyframes microModalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes microModalSlideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
